@import "base";

ion-header{
  background: #1C1A28;
  color: white;
  h3{
    font-size: 22px;
    font-weight: 500;
    color: white;
  }
  p{
    font-size: 16px;
    margin: 16px 0 5px 0;
    color: white;
  }
}
.bottomImg{
  position: absolute;
  bottom: 0;
}
ion-toolbar{
  --background: none!important;
  --padding: 0!important;
  padding: 0!important;
}

ion-toolbar:host .toolbar-container{
  padding: 0!important;
}

.agroinput{
  border: 1px solid white;
  margin-bottom: 0!important;
  color: white!important;
  --background: #1C1A28;
  background: #1C1A28;
  border-radius: 10px!important;
}
ion-toolbar:last-of-type{
  --border-width: 0 0 0px;
}
ion-list{
  background: none!important;
}
ion-item{
  --background: #1c1a28;
  font-weight: 600;
  margin: 10px 0 10px 0;
}
.textHeaderCity{
  text-align: right!important;
  font-weight: 700;
}
.unrestricted_value{
  color: #808080FF;
  white-space: normal;
}
.searchBar{
  border: 1px solid #989898;
  border-radius: 10px;
}
ion-header{
  padding-bottom: 0!important;
}
ion-content{
  --padding-top: 0!important;
}

ion-header{
  display: block!important;
  height: auto!important;
}
.my-cities{
  ion-label{
    color: white!important;
  }
}
