<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home">
      <ion-icon src="assets/img/Home.svg"></ion-icon>
      <ion-label>{{'Главная' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="createorder">
      <ion-icon src="assets/svgicons/menu-plus.svg"></ion-icon>
      <ion-label>{{'Новый' | translate}}</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="orders">
      <ion-icon src="assets/svgicons/menu-calendar.svg"></ion-icon>
      <ion-label>{{'Архив заказов' | translate}}</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
