.btn {
   color: #fff;
   font-weight: 600;

   height: rem(50);

   display: flex;
   align-items: center;
   justify-content: center;
   background: #403c61;

   border-radius: rem(10);
   padding: 0 rem(15);
   &:has(i.icm-arrow) {
      gap: rem(10);

      i.icm-arrow {
         transform: rotateY(180deg);
      }
   }
}

.btn-orange {
   @extend .btn;
   background: $mainOrange;
   color: #000;
}

.btn-sec {
   @extend .btn;
   background: #252333;
   color: #47484f;
}

.btn-succes {
   @extend .btn;
   background: #038681;
}
.btn-red {
   @extend .btn;
   background: #941414;
}

.btn-cancel {
   @extend .btn;
   background: #252333;
   border: rem(1) solid #ff6500;
}

.btn-green {
   background: #34c759;
}
.full-button{
   display: block!important;
   button{
      width: 100%;
   }
}
