.form {
   &__group {
      display: grid;
      justify-items: start;
      &:not(:last-child) {
         margin-top: rem(20);
      }
   }
   &__label {
      margin-top: rem(15);
      margin-bottom: rem(15);
      color: #fff;
      font-weight: 600;
   }
   &__input {
      width: 100%;
      display: flex;
      align-items: center;
      position: relative;
      &:has([class*="icm-"]) {
         [class*="icm-"] {
            color: #fff;

            position: absolute;
            left: rem(10);
            font-size: rem(20);
         }

         input {
            padding-left: rem(40);
         }
      }

      input {
         width: 100%;
         height: rem(50);
         background: #252333;
         padding: rem(15);
         color: #fff;

         border-radius: rem(5);
         &:focus {
            background: #312f3e;
            outline: rem(1) solid #403c61;
         }
      }
      i {
      }
   }
}
