.tab {
   &__header {
      display: flex;
      gap: rem(5);
      border-radius: rem(8);

      background: #252333;
      padding: rem(5);
      margin-bottom: rem(15);
      position: sticky;
      top: 0;
      left: 0;
   }
   &__btn {
      flex: 1;
      height: rem(40);
      color: #47484f;
      border-radius: rem(5);

      font-size: rem(16);
      padding: 0;

      &.btn {
         color: #fff;
      }
   }
   &__content {
   }
   &__body {
   }
}
