<ion-content class="ion-padding">
  <main class="balance">
    <header class="header">
      <button class="header__left" (click)="back()">
        <i class="icm-arrow"></i>
      </button>
      <p class="header__title">{{'Мой баланс' | translate}}</p>
    </header>
    <section class="balance__main">
      <div class="balance__summ">
        <img src="/assets/logos/tirgo-logo.png" alt="Картинка" />
        <p>{{authService.currentUser?.balance}} Сум</p>
      </div>
      <div class="pay-method">
        <p class="pay-method__title">Методы оплаты</p>
        <div class="pay-method__items">
          <button class="pay-method__item">
            <img src="/assets/payment/click.png" alt="Картинка" />
          </button>
          <!--<button class="pay-method__item">
            <img src="/assets/img/visa.svg" alt="Картинка" />
          </button>-->
        </div>
      </div>
      <div class="payment__data">
        <label class="form__group">
          <span class="form__label">Сумма платежа</span>
          <div class="form__input">
            <input type="text" placeholder="Сумма платежа" [(ngModel)]="amount"/>
          </div>
        </label>
      </div>
    </section>
    <!--<div class="balance__btn btn" (click)="goToPay()">Далее</div>-->
  </main>

</ion-content>
<ion-footer class="my-footer">
  <ion-toolbar>
    <!-- <ion-button expand="block" (click)="payClickPay()">{{'Оплатить' | translate}}</ion-button> -->
  </ion-toolbar>
</ion-footer>
