.order {
   padding: rem(10);

   border: rem(1) solid #2d2d2d;
   border-radius: rem(8);

   display: grid;
   gap: rem(15);

   &:not(:last-child) {
      margin-bottom: rem(15);
   }

   &__header {
   }
   &__main {

   }
   &__title {
      display: flex;
      align-items: center;

      height: rem(45);
      padding: 0 rem(15);
      background: #252333;

      border-radius: rem(4);

      color: #fff;

      margin-bottom: rem(15);
      img {
         margin-right: rem(10);
      }

      .icm-accept {
         margin-left: auto;
         color: #34c759;
         font-size: rem(20);
      }
   }
   &__locates {
      display: grid;
      gap: rem(15);
   }
   &__locate {
      display: flex;
      align-items: center;
      color: #fff;
      font-weight: 500;
      span {
         color: #cfd2d8;
      }
      i {
         font-size: rem(20);

         display: flex;
         align-items: center;
         justify-content: center;

         width: rem(35);
         height: rem(35);

         margin-right: rem(10);

         background: #252333;
         border-radius: rem(10);
      }
   }
   &__infos {
      display: grid;
      gap: rem(10) 0;

      background: #252333;
      padding: rem(15);
      border-radius: rem(4);

      margin-bottom: rem(15);
   }
   &__info {
      display: flex;
      justify-content: space-between;
      font-weight: 500;
      span {
         color: #47484f;
         min-width: 100px;
      }
      b {
         color: #fff;
      }
   }
   &__offers {
   }
   &__map {
      position: relative;
      height: rem(150);

      margin-bottom: rem(15);
      #map {
         border-radius: rem(8);
         position: absolute;
         width: 100%;
         height: 100%;
         top: 0;
         left: 0;
      }
      .disabled {
         &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 0;
            left: 0;
            background: rgba(#252333, 0.3);
         }
         button {
            position: absolute;
            bottom: rem(10);
            left: 50%;
            translate: -50% 0;
            z-index: 2;

            height: rem(40);
            border-radius: rem(8);
            background: #252333;
            color: #fff;
            padding: 0 rem(10);
         }
      }
   }
   &__status {
      margin-top: 12px;
      width: 100%;
      color: #fff;
   }
}

.offers {
   display: grid;
   &__header {
      display: flex;
      align-items: center;
      justify-content: space-between;

      height: rem(55);
      padding: 0 rem(15);
      background: #252333;
      border-radius: rem(8);

      margin-bottom: rem(15);
   }
   &__title {
      font-weight: 600;
      color: #fff;
   }
   &__count {
      width: rem(35);
      height: rem(35);
      border-radius: 50%;
      background: #ff9401;

      display: flex;
      align-items: center;
      justify-content: center;

      font-size: rem(18);
      font-weight: 600;
   }
   &__items {
      display: grid;
      gap: rem(20);
   }
   &__item {
   }
}

.item-offers {
   &__main {
      padding: rem(15) rem(10);
      background: #252333;
      border-radius: rem(10) rem(10) 0 0;
   }
   &__content {
      display: grid;
      gap: rem(10);
      grid-template-columns: auto 1fr auto;
      margin-bottom: rem(10);
   }
   &__cars {
      .item-car-accepted-driver{
         padding: 10px;
         color: white;
         border: 1px solid #5e5e5e;
         border-radius: 10px;
         margin-bottom: 10px;
         h3{
            font-weight: 700;
         }
         p{
            margin-top: 3px;
            margin-bottom: 3px;
            b{
               margin-top: 2px;
               margin-bottom: 2px;
               color: white;
            }
            color: grey;
         }
         .img-cars{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 10px;
            margin-top: 10px;
            img{
               object-fit: cover;
               height: 100%;
               border-radius: 10px;
            }
         }
      }
   }
   &__img {
      object-fit: cover;
      width: rem(65);
      height: rem(65);
      border-radius: 50%;
   }
   &__info {
   }
   &__title {
      margin-bottom: rem(5);
      color: #fff;
      font-weight: 600;
      font-size: rem(18);
   }
   &__date {
      margin-bottom: 5px;
      display: grid;
      font-size: rem(16);
      color: #fff;
      span {
         margin-bottom: 5px;
         font-size: rem(12);
         color: #829090;
      }
      span:last-child{
         margin-bottom: 5px;
         font-size: rem(12);
         color: #fff;
         p{
            display: inline-block;
            font-weight: 600;
         }
      }
   }
   &__price {
      display: grid;
      font-size: rem(22);
      color: #fff;
      span {
         font-size: rem(12);
         color: #829090;
         margin-bottom: 5px;
      }
   }
   &__rating {
      justify-self: end;
      display: grid;
      align-content: start;
      justify-items: center;
      color: #fff;
      font-size: rem(12);
      .icm-verif {
         color: $mainOrange;
         font-size: rem(24);
      }
   }
   &__btns {
      display: grid;
      gap: rem(10);
      grid-template-columns: 0.4fr 0.6fr;
   }
   &__btn {
      height: rem(40);
   }
   &__more {
      background: #403c61;
      height: rem(35);
      width: 100%;
      color: #fff;
      border-radius: 0 0 rem(10) rem(10);
   }
}
