.pay-method {
   &__title {
      margin-bottom: rem(10);
      color: #fff;
      font-weight: 600;
   }
   &__items {
      display: flex;
      gap: rem(20);
      margin-bottom: 16px;
   }
   &__item {
      width: rem(100);
      height: rem(100);
      border-radius: rem(10);
      background: white;
      padding: rem(5);

      img {
         margin: 0 auto;
      }
   }
}
