<ion-content class="ion-padding">
  <main class="welcome">
    <img src="/assets/logos/tirgo-logo.png" class="welcome__logo" alt="Картинка" />
    <div class="welcome__main">
      <h2 class="welcome__title">{{'Добро пожаловать!' | translate}}</h2>
      <p class="welcome__subtitle">
        {{'Организация международных грузоперевозок в пару кликов.' | translate}}
      </p>
      <button class="welcome__btn btn-orange"  (click)="goToAuthorization()">{{'Продолжить' | translate}}</button>
    </div>
  </main>
</ion-content>
