@import "base";

.welcome {
  &__logo {
    margin-top: rem(100);
    width: rem(250);
  }
  &__main {
    margin-top: rem(100);

    display: grid;
    gap: rem(15);
  }
  &__title {
    font-size: rem(36);
    color: #fff;

    margin-bottom: rem(10);
  }
  &__subtitle {
    color: #fff;
    font-size: rem(16);
    font-weight: 300;
    line-height: 1.2;

    margin-bottom: rem(50);
  }
  &__btn {
  }
}
