<ion-content class="ion-padding">
  <main class="subscrip">
    <header class="header">
      <button class="header__left" (click)="back()">
        <i class="icm-arrow"></i>
      </button>
      <p class="header__title">Мои подписки</p>
    </header>
    <section class="subscrip__main" data-spollers data-spollers-speed="200">
      <div class="subscrip__item item-subscrip">
        <button class="item-subscrip__header btn" data-spoller>
          Отслеживание груза
          <i class="icm-chevron"></i>
        </button>
        <div class="item-subscrip__body">
          <h4 class="item-subscrip__date">АКТИВНА ДО: 10.02.23г.</h4>
          <p class="item-subscrip__text">
            Возможность подавать заявки на грузоперевозку.
          </p>
          <div class="item-subscrip__group">
            <p>Стоимость услуги: <b>10$</b></p>
            <p>Срок действия: <b>6 месяцев</b></p>
            <button class="item-subscrip__btn btn">Купить</button>
          </div>
          <div class="item-subscrip__group">
            <p>Стоимость услуги: <b>18$</b></p>
            <p>Срок действия: <b>12 месяцев</b></p>
            <button class="item-subscrip__btn btn">Купить</button>
          </div>
        </div>
      </div>
      <div class="subscrip__item item-subscrip">
        <button class="item-subscrip__header btn" data-spoller>
          Безопасная сделка
          <i class="icm-chevron"></i>
        </button>
        <div class="item-subscrip__body">
          <h4 class="item-subscrip__date">АКТИВНА ДО: 10.02.23г.</h4>
          <p class="item-subscrip__text">
            Возможность подавать заявки на грузоперевозку.
          </p>
          <div class="item-subscrip__group">
            <p>Стоимость услуги: <b>10$</b></p>
            <p>Срок действия: <b>6 месяцев</b></p>
            <button class="item-subscrip__btn btn">Купить</button>
          </div>
          <div class="item-subscrip__group">
            <p>Стоимость услуги: <b>18$</b></p>
            <p>Срок действия: <b>12 месяцев</b></p>
            <button class="item-subscrip__btn btn">Купить</button>
          </div>
        </div>
      </div>
    </section>
  </main>

</ion-content>
